:root {
    --font-family: 'Roboto', sans-serif;
    --message-input-height: 80px;
    --menu-width: 260px;
    --menu-transition-duration: 0.7s;
}

header {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 21px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

header img {
    width: 75px;
}

header ion-icon {
    font-size: 45px;
}

.menu-container{
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0px;
    height: 0px;
    display: flex;
    transition: background-color var(--menu-transition-duration) ease, height calc(var(--menu-transition-duration) * 1.5) cubic-bezier(1, 0, 1, 0);;
}

.menu-container.active{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color var(--menu-transition-duration) ease, height 0s;
}

.menu-container>div:first-child{
    height: 100%;
    width: calc(100% - var(--menu-width));
}

.menu{
    height: 100%;
    width: var(--menu-width);
    background-color: rgba(255,255,255);
    overflow-y: auto;
    position: absolute;
    left: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left var(--menu-transition-duration) ease;
}

.menu.active{
    left: calc(100vw - var(--menu-width));
    transition: left var(--menu-transition-duration) ease;
    
}

.menu::-webkit-scrollbar{
    display: none;
}

.menu section{
    width: 90%;
}

.menu-option{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-option>div{
    display: flex;
    align-items: center;
}

.menu-option p{
    margin: 0 7px;
}

.menu-option>ion-icon{
    font-size:46px;
    color:#28BB25;
    opacity:0;
}

.menu-option>ion-icon.active{
    opacity:1;
}

.menu ion-icon{
    font-size: 25px;
}

.menu p{
    font-size: 16px;
}

.menu h2 {
    font-size: 16px;
    font-weight: 700;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding-top: 25px;
    padding-bottom: 1px;
    margin-bottom: var(--message-input-height);
    background-color: rgb(240, 240, 240);
}

.message-container {
    box-sizing: border-box;
    padding: 15px 10px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255);
    border-radius: 2px;
}

.time {
    color: rgb(130, 130, 130);
}

.msg-infos {
    margin: 0 5px;
}

.msg-sender, .msg-receiver {
    font-weight: 700;
}

div.message-input {
    box-sizing: border-box;
    height: var(--message-input-height);
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.message-input div {
    width: 93%;
}

.private-info {
    font-size: 16px;
    font-weight: 400;
    color: rgb(130, 130, 130);
    margin-top: 10px;
}

div.message-input input {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    border: none;
    outline: none;
}

div.message-input input::placeholder {
    font-style: italic;
}

div.message-input ion-icon {
    font-size: 26px;
}

div.message-input ion-icon:hover {
    font-size: 26px;
    cursor: pointer;
}

.in-out-color {
    background-color: rgba(220, 220, 220, 1);
}

.private-color {
    background-color: rgba(255, 222, 222, 1);
}

.hidden {
    display: none;
}